@import "tailwindcss";

.questionnaire-card {
  width: 100%;
  height: 100%;

  background-color: aqua;

  -webkit-mask-image: url("/images/blobs/questionnaire-blob.svg");
  mask-image: url("/images/blobs/questionnaire-blob.svg");

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  -webkit-mask-position: center;
  mask-position: center;
}

.ques-card {
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  overflow: hidden;

  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, .45),
    0 25px 70px rgba(0, 0, 0, .12);
}

.ques-card::before {
  background: linear-gradient(180deg,
      rgba(255, 255, 255, .45),
      rgba(255, 255, 255, .05));
}